.hero {
  color: $color-default-white;
  background: $blue-to-red;

  .hero__container {
    display: flex;
    gap: 70px;
    padding-bottom: 120px;
    justify-content: center;
    margin-top: -1px;

    @include vp-1365 {
      padding-bottom: 100px;
      gap: 30px;
    }

    @include vp-767 {
      padding-bottom: 70px;
      gap: 0;
    }
  }

  .hero__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 50px;
  }

  .hero__text-content {
    display: flex;
    flex-direction: row-reverse;

    @include vp-1365 {
      gap: 36px;
    }

    @include vp-767 {
      gap: 15px;
    }
  }

  .hero__headline {
    font-family: $ff-alumni-sans;
    width: 270px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
    max-width: 100%;

    @include vp-1365 {
      width: 175px;
    }

    @include vp-767 {
      width: 162px;
    }

    h2 {
      margin: 0;
      font-size: 92px;
      font-weight: 800;
      line-height: 110px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      max-width: 100%;
      word-wrap: break-word;

      @include vp-1365 {
        font-size: 72px;
        line-height: 85px;
        letter-spacing: 0;
      }

      @include vp-767 {
        font-size: 62px;
        line-height: 70px;
        letter-spacing: 0.03em;
      }
    }

    p {
      font-size: 54px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0.03em;
      margin: 0;
      text-transform: uppercase;
      max-width: 100%;
      word-wrap: break-word;

      @include vp-1365 {
        font-size: 42px;
      }

      @include vp-767 {
        font-size: 32px;
      }
    }
  }

  .hero__services-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 113px;
    margin-bottom: 50px;

    @include vp-1365 {
      margin-bottom: 25px;
    }

    @include vp-767 {
      margin-bottom: 0;
      line-height: 20px;
    }
  }

  .hero__services-item {
    word-wrap: break-word;
    max-width: 113px;
  }

  .hero__subscribe-button {
    padding: 27px;
    width: 230px;

    @include vp-1365 {
      padding: 22px;
      width: 185px;
    }

    @include vp-767 {
      padding: 22px;
      width: 290px;
    }
  }

  .hero__image img {
    width: 500px;
    height: 524px;
    object-fit: cover;

    @include vp-1365 {
      width: 324px;
      height: 390px;
    }

    @include vp-767 {
      display: none;
    }
  }
}
