.jury {
  margin-bottom: 120px;

  @include vp-1365 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }

  .jury__title {
    width: 100%;
    max-width: 1366px;
    word-wrap: break-word;
    padding: 0;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 1.62px;
    color: $color-sapphire;
    margin: 120px 0 45px;

    @include vp-1365 {
      margin-bottom: 40px;
      padding: 0 100px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 42px;
      padding: 0 47px;
    }
  }

  .jury__slider {
    position: relative;
    width: 100%;
    max-width: $vp-1366;
    margin: 0 auto;

    @include vp-1365 {
      padding: 0 100px;
    }

    @include vp-767 {
      padding: 0 20px;
    }
  }

  ////////
  .jury-swiper__wrapper {
    align-items: stretch;
  }

  .jury__swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: $color-default-white;
    font-family: $ff-roboto-condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  ///////
  .jury__slider-button {
    position: absolute;
    bottom: 50%;
    border: 0;
    background: $color-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: $color-sapphire;
    border-radius: 56px;
    z-index: 10;
    cursor: pointer;

    &--prev {
      left: -100px;
      transform: translateX(25px) translateY(50%);
    }

    &--next {
      right: -100px;
      transform: translateX(-25px) translateY(50%) scale(-1);
    }

    @include vp-1365 {
      &--prev {
        left: 0;
        transform: translateX(25px) translateY(50%);
      }

      &--next {
        right: 0;
        transform: translateX(-25px) translateY(50%) scale(-1);
      }
    }

    @include vp-767 {
      width: 36px;
      height: 36px;

      &--prev {
        transform: translateX(5px) translateY(50%);
      }

      &--next {
        transform: translateX(-5px) translateY(50%) scale(-1);
      }
    }

    @include hover-focus {
      border: 1px solid $color-sapphire;
    }

    @include active {
      color: $color-default-white;
      background-color: $color-sapphire;
    }

    &:disabled,
    &[aria-disabled="true"] {
      opacity: 0.3;
      cursor: auto;

      @include hover-focus {
        border: unset;
      }

      @include active {
        color: $color-sapphire;
        background-color: unset;
      }
    }

    svg {
      @include vp-767 {
        width: 10px;
        height: 19px;
      }
    }
  }

  .jury__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 260px;
    height: 100%;
    min-height: 294px;
    padding: 20px;
    padding-bottom: 18px;

    @include vp-1365 {
      width: 268px;
      min-height: 294px;
    }

    @include vp-767 {
      width: 226px;
      min-height: 274px;
    }

    @include hover-focus {
      justify-content: center;
      background-color: rgba(16, 38, 84, 0.89);
    }

    @include active {
      justify-content: center;
      background-color: rgba(16, 38, 84, 0.89);
    }
  }

  .jury__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1000;

    img {
      object-fit: cover;
      min-height: 100%;

      @include vp-1365 {
        width: 268px;
        height: 294px;
        min-width: 228px;
      }

      @include vp-767 {
        width: 226px;
        height: 274px;
        min-width: 226px;
      }
    }
  }
  .jury__name {
    position: relative;
    bottom: 0;
    max-width: 200px;
    margin: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    order: 2;

    @include vp-767 {
      font-size: 22px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .jury__list-title {
    max-width: 150px;
    margin: 0;
    margin-bottom: 33px;
    color: $color-ghost-white;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    word-wrap: break-word;

    @include vp-767 {
      margin-bottom: 22px;
      font-size: 14px;
    }
  }

  .jury__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    max-width: 160px;
    margin: 0 30px;
    padding-left: 16px;
    word-wrap: break-word;

    @include vp-767 {
      row-gap: 8px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .jury__list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    order: 1;
  }

  @media (hover: hover) {
    .jury__card:hover:not(.focus-visible) .jury__list-wrapper {
      opacity: 1;
      order: 3;
    }
  }

  .jury__card.focus-visible:focus .jury__list-wrapper {
    opacity: 1;
    order: 3;
  }

  .jury__card:active:not(.focus-visible) .jury__list-wrapper {
    opacity: 1;
    order: 3;
  }
}
