.subscription {
  background-color: $color-ghost-white;
  padding-top: 129px;
  padding-bottom: 120px;
  letter-spacing: 1.62px;
  position: relative;
  z-index: 1;

  @include vp-1365 {
    padding-top: 101px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 74px;
    padding-bottom: 70px;
  }

  .subscription__title {
    padding: 0;
    margin: 0;
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 1.62px;
    text-align: center;
    color: $color-sapphire;
    margin-bottom: 29px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin-bottom: 36px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 22px;
    }
  }

  .subscription__period-list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 51px;
    border-bottom: 2px solid $rgba-grey-30;
    min-height: 36px;
    margin-bottom: 36px;
    max-width: max-content;

    @include vp-1365 {
      gap: 55px;
      margin-bottom: 44px;
      min-height: 30px;
    }

    @include vp-767 {
      gap: 30px;
      max-width: 100%;
      margin-bottom: 34px;
    }
  }

  .subscription__period-item {
    margin: 0;
    padding: 0;
  }

  .subscription__period-button {
    margin: 0;
    padding: 0;
    border: none;
    font-family: $ff-placeholder;
    font-style: normal;
    font-weight: 400;
    color: rgba($color-sapphire, 0.5);
    font-size: 20px;
    line-height: 30px;
    background-color: $color-ghost-white;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
    min-height: 36px;

    @include hover-focus {
      color:  $color-sapphire;
    }

    &--active {
      color: #102654;
    }

    &--active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-crimson;
      bottom: -2px;
    }

    @include vp-1365 {
      font-size: 18px;
      line-height: 18px;
      min-height: 30px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      min-height: 31px;
    }
  }

  .subscription__card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;

    @include vp-1365 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 65%;
      margin: 0 auto;
    }

    @include vp-767 {
      max-width: 100%;
      row-gap: 35px;
    }
  }

  .subscription__card-item {
    background-color: $color-default-white;
    padding: 67px 77px 65px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 7px solid $color-default-white;

    @include vp-1365 {
      // max-width: none;
      width: 100%;
      padding: 67px 77px 65px;
    }

    @include vp-767 {
      padding: 52px 42px 50px;
    }

    &--full-day {
      @include vp-1365 {
        padding: 65px 77px 65px;
      }

      @include vp-767 {
        padding: 52px 42px 50px;
      }
    }

    &--only-day {
      border: 7px solid;
      border-image-slice: 1;
      border-width: 7px;
      border-image-source: $crimson-to-smalt;
      padding: 60px 70px 58px;

      @include vp-767 {
        padding: 45px 35px 43px;
      }
    }

    @include hover-focus {
      border-image-slice: 1;
      border-image-source: $crimson-to-smalt;
    }

    &--only-day .subscription__card-button {
      color: $color-default-white;
      background: $red-to-blue;
      border-image-slice: 1;
      border-image-source: $red-to-blue;
    }
  }

  .subscription__card-title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 7px;
    letter-spacing: 0;
    z-index: 1;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 14px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 13px;
    }
  }

  .subscription__card-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 69px;
    letter-spacing: 0;

    @include vp-1365 {
      margin-bottom: 75px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 65px;
    }
  }

  .subscription__price-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 34px;
    letter-spacing: 0;
    display: flex;
    align-items: center;

    @include vp-1365 {
      margin-bottom: 23px;
    }

    @include vp-767 {
      margin-bottom: 22px;
    }

    svg {
      margin-bottom: 2px;
      z-index: 2;

      @include vp-767 {
        width: 24px;
        height: 33px;
        margin-bottom: 0;
      }
    }
  }

  .subscription__card-price {
    margin: 0;
    padding: 0;
    color: $color-egyptian-blue;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    padding-right: 14px;
    background-size: 24px 33px;
    background-position: 100% 48%;
    position: relative;
    z-index: 2;
    // max-width: 180px;
    word-break: break-all;

    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
      padding-right: 10px;
    }
  }

  .subscription__card-shadow {
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 100px;
    font-weight: 700;
    line-height: 150px;
    color: #e8e8e8;
    opacity: 0.48;
    left: 50%;
    transform: translateX(-51%);
    top: -56px;
    max-height: 130%;
    max-width: 360px;
    overflow: hidden;
    z-index: 1;

    @include vp-1365 {
      transform: translateX(-50%);
    }

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
      top: -44px;
    }
  }

  .subscription__card-button {
    margin-left: 1px;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    width: 100%;
    z-index: 2;

    @include active {
      color: rgba($color-default-white, 0.6);
    }
  }
  .subscription__image {
    position: absolute;
    right: 0;
    bottom: -149px;
    z-index: -1;

    img {
      @include vp-1365 {
        right: -45px;
        width: 100%;
        height: 100%;
      }
    }

    @include vp-1365 {
      bottom: -148px;
      width: 42.6%;
    }

    @include vp-767 {
      display: none;
    }
  }
}
