// Colors
// ---------------------------------

// Default
$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-red:                 #ff121f;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482


$color-sapphire:                    #102654;
$color-egyptian-blue:               #103aae;
$color-resolution-blue:             #1c3374;
$color-persian-blue:                #2e35ac;
$color-neon-blue:                   #2c39f2;
$color-dark-cerulean:               #14367a;
$color-torch-red:                   #ed0233;
$color-crimson:                     #d10a42;
$color-ghost-white:                 #f8f9fc;
$color-black-russian:               #030a1a;
$coror-smalt:                       #00359f;
$color-ok:                          #ed812b;
$color-reddit:                      #ff4500;

// Opacity
$rgba-torch-red-20:                 rgba(237, 2, 51, 0.2);
$rgba-grey-30:                      rgba(120, 120, 120, 0.3);

// Gradient
$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$blue-to-red:                       linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$red-to-blue:                       linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
$crimson-to-cobalt:                 linear-gradient(143deg, #d10a42 0%, #0041ca 87.33%);
$crimson-to-smalt:                  linear-gradient(to right bottom, #d10a42, #00359f);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        18px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-alumni-sans:                    "Alumni Sans", "Arial", sans-serif;
$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1366:                           1366px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
